## **Necessary Imports**

In [1]:
import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
sns.set_theme(style='whitegrid')

## **Mounting Drive**

In [3]:
import pandas as pd

# Load the training and test datasets from your local system
train_data = pd.read_csv(r'C:\Users\adity\price-comparison-project\Dataset.txt', sep='\t')
test_data = pd.read_csv(r'C:\Users\adity\price-comparison-project\Dataset_test.txt', sep='\t')

# Display the first few rows to check the data
train_data.head(), test_data.head()

(   Index        F1        F2        F3        F4    F5    F6    F7    F8  \
 0      1  0.224506  0.500340  0.489860  0.902413  7934 -6970 -5714  9982
 1      2  0.321128  0.281119  0.907283  0.772159 -8238  1219  1663  1287
 2      3  0.893441  0.622005  0.998776  0.098386  8540  5266 -9377 -3504
 3      4  0.320641  0.957234  0.346000  0.646479 -7772  -383  9681 -8661
 4      5  0.475961  0.623008  0.544988  0.159709  1571 -8039 -7961 -2385

      F9  ...         F14        F15         F16  F17  F18  F19  F20  F21  F22  \
 0 -5697  ... -3433637453  10/4/1986    9/6/1992    2    1  706  305    1    2
 1 -3658  ...   609277486  2/24/1979    1/5/1983    1    1  423  206   18    7
 2 -4511  ... -8977995005  1/12/1989  11/22/1986    2    1  703  315    1    4
 3  3474  ...  4868760308  2/18/1982   6/10/1992    1    1  122  304   15    1
 4  4407  ...  9757408267  4/10/1987  10/19/1985    1    1  486  240    1    1

    C
 0  0
 1  1
 2  0
 3  0
 4  0

 [5 rows x 24 columns],
        Index        F1        F2        F3        F4    F5    F6    F7    F8  \
 0  T30234341  0.654765  0.812009  0.603190  0.391039 -5220  4825 -1784  7447
 1  T30234342  0.694636  0.690568  0.473460  0.259760  -618 -5018  2012  9259
 2  T30234343  0.203759  0.323301  0.492294  0.011448 -8778  6141  6965  3774
 3  T30234344  0.319627  0.286247  0.906197  0.093840 -7929  4471  7715  9543
 4  T30234345  0.236003  0.782784  0.285689  0.383585 -3296  4564 -1580 -8559

      F9  ...         F13         F14        F15        F16  F17 F18  F19  F20  \
 0 -7147  ...  8074343777  5553595074  9/17/1996  8/18/1990    1   1  436  478
 1  9267  ... -5556861821  2216284070  11/7/1985  4/11/1990    1   1  138   56
 2  4303  ... -2121815725  -315409510   7/9/1984   5/4/1997    1   1  117  323
 3   335  ...  1389754605 -3360224957   6/3/1987   7/1/1988    1   1  115  149
 4   -27  ...  3653338555  7604838279  7/17/1984  12/3/1993    1   1  527  281

    F21  F22
 0    1    1
 1   10    4
 2   10    1
 3   16   21
 4    3    1

 [5 rows x 23 columns])

## **Initalizing data folder**

In [5]:
import pandas as pd

# Replace with the actual path to the Dataset.txt file
train_data = pd.read_csv('C:/Users/adity/price-comparison-project/Dataset.txt', sep='\t')
test_data = pd.read_csv('C:/Users/adity/price-comparison-project/Dataset_test.txt', sep='\t')

## **Assumption: - As we have to predict the customer purhase behavior based on the given features, so, need to find out the relevant customer characteristics while from the dataset.**

## **Dataset Exploration**

### **Reading csv file**

In [6]:
df_train = pd.read_csv("C:/Users/adity/price-comparison-project/Dataset.txt", sep='\t', encoding="unicode_escape")
df_test = pd.read_csv("C:/Users/adity/price-comparison-project/Dataset_test.txt", sep='\t', encoding="unicode_escape")

### **Viewing dataframe**

In [7]:
print(df_train.columns)  # Should contain 'C'
print(df_test.columns)   # Should not contain 'C'

Index(['Index', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10',
       'F11', 'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20',
       'F21', 'F22', 'C'],
      dtype='object')
Index(['Index', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10',
       'F11', 'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20',
       'F21', 'F22'],
      dtype='object')

### **Number of rows and columns**

In [8]:
# Display the number of rows and columns
print(f"Number of rows and columns: {df_train.shape}")

Number of rows and columns: (101180, 24)

### **Checking if NaN value exists.**

In [9]:
# Check if NaN values exist in the dataset
print("Checking if NaN values exist:")
print(df_train.isna().sum())  # This will show the count of NaN values per column

Checking if NaN values exist:
Index    0
F1       0
F2       0
F3       0
F4       0
F5       0
F6       0
F7       0
F8       0
F9       0
F10      0
F11      0
F12      0
F13      0
F14      0
F15      0
F16      0
F17      0
F18      0
F19      0
F20      0
F21      0
F22      0
C        0
dtype: int64

#### **We got NaN values in the 'CustomerID'. As 'CustomerID' is the unique identifier for each customer, so, having NaN in this column won't let us know the customer. Therefore these rows should be deleted.**

### **Dropping NaN value columns**

In [10]:
# Drop columns that contain NaN values
df_train_clean = df_train.dropna(axis=1)  # This will remove columns with NaNs

### **No NaN values**

In [11]:
# Check if any NaN values remain after dropping columns or rows
print("Checking if NaN values remain after dropping columns/rows:")
print(df_train_clean.isna().sum())

Checking if NaN values remain after dropping columns/rows:
Index    0
F1       0
F2       0
F3       0
F4       0
F5       0
F6       0
F7       0
F8       0
F9       0
F10      0
F11      0
F12      0
F13      0
F14      0
F15      0
F16      0
F17      0
F18      0
F19      0
F20      0
F21      0
F22      0
C        0
dtype: int64

### **Dataframe shape after dropping the NaN value rows**

In [13]:
df_train_clean_rows = df_train.dropna(axis=0)  # Drop rows with NaN values
print(f"DataFrame shape after dropping NaN rows: {df_train_clean_rows.shape}")

DataFrame shape after dropping NaN rows: (101180, 24)

### **Dataframe columns**

In [14]:
# Display the column names of the DataFrame
print(f"DataFrame columns: {df_train.columns}")

DataFrame columns: Index(['Index', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10',
       'F11', 'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20',
       'F21', 'F22', 'C'],
      dtype='object')

### **Checking dataframe column datatypes**

In [15]:
# Display data types of each column
print("DataFrame column data types:")
print(df_train.dtypes)

DataFrame column data types:
Index      int64
F1       float64
F2       float64
F3       float64
F4       float64
F5         int64
F6         int64
F7         int64
F8         int64
F9         int64
F10        int64
F11        int64
F12        int64
F13        int64
F14        int64
F15       object
F16       object
F17        int64
F18        int64
F19        int64
F20        int64
F21        int64
F22        int64
C          int64
dtype: object

### **The 'CustomerID' is in float64 format. So, this should be handled.**

In [18]:
# Convert a valid column to int64 (example: 'Index' column)
df_train['Index'] = df_train['Index'].astype('Int64')  # Use 'Int64' to retain NaN values

### **Exploring columns**

In [19]:
# Explore unique values in the columns
print("Exploring columns:")
for column in df_train.columns:
    print(f"Unique values in {column}: {df_train[column].nunique()}")

Exploring columns:
Unique values in Index: 101180
Unique values in F1: 101176
Unique values in F2: 101169
Unique values in F3: 101179
Unique values in F4: 101178
Unique values in F5: 19876
Unique values in F6: 19862
Unique values in F7: 19865
Unique values in F8: 19866
Unique values in F9: 19887
Unique values in F10: 101179
Unique values in F11: 101180
Unique values in F12: 101180
Unique values in F13: 101178
Unique values in F14: 101180
Unique values in F15: 8031
Unique values in F16: 6300
Unique values in F17: 5
Unique values in F18: 5
Unique values in F19: 646
Unique values in F20: 646
Unique values in F21: 21
Unique values in F22: 21
Unique values in C: 2

## **Feature Engineering**

### **Each customer bought different number of products for the unit price. So, we can calculate a new column 'Revenue_given' that tells how much the customer has spent ordering products.**

In [22]:
import pandas as pd

# Assuming you already have df_train loaded with the appropriate dataset

# Drop NaN columns if any (removes columns that have NaN values)
df_train_clean_cols = df_train.dropna(axis=1)

# Drop rows with NaN values
df_train_clean_rows = df_train_clean_cols.dropna(axis=0)

# Check the columns of the dataframe
print(df_train_clean_rows.columns)

# Proceed with feature engineering steps like calculating 'Revenue_given'
# Since we don't have 'UnitPrice' or 'Quantity', adjust this based on the correct column names
# Example assuming F1 is Price and F2 is Quantity - adjust as needed for your dataset
df_train_clean_rows['Revenue_given'] = df_train_clean_rows['F1'] * df_train_clean_rows['F2']

# Checking if there are any NaN values after new feature creation
print(f"NaN values after feature engineering: {df_train_clean_rows.isnull().sum()}")

# Now you can perform additional steps like frequency counting, country merging, etc.
# Continue with other feature engineering steps like country frequency, handling outliers, etc.

# Renaming columns if needed
df_train_clean_rows.rename(columns={'F1': 'UnitPrice', 'F2': 'Quantity'}, inplace=True)

# Checking for outliers and handling them
# You may use z-score, IQR methods, or domain-specific thresholds to handle outliers

# Exporting the processed dataset
df_train_clean_rows.to_csv('processed_customer_data.csv', index=False)

Index(['Index', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10',
       'F11', 'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20',
       'F21', 'F22', 'C'],
      dtype='object')
NaN values after feature engineering: Index            0
F1               0
F2               0
F3               0
F4               0
F5               0
F6               0
F7               0
F8               0
F9               0
F10              0
F11              0
F12              0
F13              0
F14              0
F15              0
F16              0
F17              0
F18              0
F19              0
F20              0
F21              0
F22              0
C                0
Revenue_given    0
dtype: int64

### **Revenue Count for each customer**

In [25]:
# First, ensure that 'Revenue_given' is correctly calculated
# Assuming that 'UnitPrice' and 'Quantity' columns exist and can be used to calculate 'Revenue_given'
df_train['Revenue_given'] = df_train['F2'] * df_train['F3']  # Assuming F2 is 'UnitPrice' and F3 is 'Quantity'

# Group by the customer column (e.g., F1) and sum the 'Revenue_given' for each customer
revenue_count = df_train.groupby('F1')['Revenue_given'].sum().reset_index()

# Display the revenue count
print(revenue_count.head())

         F1  Revenue_given
0  0.000018       0.484164
1  0.000022       0.705824
2  0.000033       0.237354
3  0.000038       0.501637
4  0.000048       0.134999

#### **We get revenue given to the company for each customer.**

### **Let's find out how frequent the customer bought products**

In [26]:
frequency_count = df_train.groupby('F1').size().reset_index(name='Purchase_Frequency')

# Display the frequency count
print(frequency_count.head())

         F1  Purchase_Frequency
0  0.000018                   1
1  0.000022                   1
2  0.000033                   1
3  0.000038                   1
4  0.000048                   1

#### **We get frequency count for each customer.**

### **For the same customer we get 2 countries with same amount of frequency. This is problematic. But as this is an important feature, so, we will take only one country and move with it.**

### **Now we get country for each of the customer.**

In [29]:
countries_df = new_df.drop(["InvoiceNo"], axis=1)

## **Renaming some columns for clearance**

In [30]:
frequency_count.columns =['CustomerID', 'Frequency']
recency_count.columns = ['CustomerID', 'Recency']

## **Merging and creating a dataframe**

In [33]:
# Merge df_train with revenue_count on 'F1' column
df_merged = pd.merge(df_train, revenue_count, on='F1', how='left')

# Check the first few rows of the merged dataframe
print(df_merged.head())

   Index        F1        F2        F3        F4    F5    F6    F7    F8  \
0      1  0.224506  0.500340  0.489860  0.902413  7934 -6970 -5714  9982
1      2  0.321128  0.281119  0.907283  0.772159 -8238  1219  1663  1287
2      3  0.893441  0.622005  0.998776  0.098386  8540  5266 -9377 -3504
3      4  0.320641  0.957234  0.346000  0.646479 -7772  -383  9681 -8661
4      5  0.475961  0.623008  0.544988  0.159709  1571 -8039 -7961 -2385

     F9  ...         F16  F17  F18  F19  F20 F21 F22  C  Revenue_given_x  \
0 -5697  ...    9/6/1992    2    1  706  305   1   2  0         0.245097
1 -3658  ...    1/5/1983    1    1  423  206  18   7  1         0.255054
2 -4511  ...  11/22/1986    2    1  703  315   1   4  0         0.621244
3  3474  ...   6/10/1992    1    1  122  304  15   1  0         0.331203
4  4407  ...  10/19/1985    1    1  486  240   1   1  0         0.339532

   Revenue_given_y
0         0.245097
1         0.255054
2         0.621244
3         0.331203
4         0.339532

[5 rows x 26 columns]

### **Let's see if outliers exists in the numeric columns**

In [38]:
import numpy as np

# Calculate IQR for numeric columns in df_train
numeric_columns_train = df_train.select_dtypes(include=[np.number]).columns
Q1_train = df_train[numeric_columns_train].quantile(0.25)
Q3_train = df_train[numeric_columns_train].quantile(0.75)
IQR_train = Q3_train - Q1_train
outliers_train = ((df_train[numeric_columns_train] < (Q1_train - 1.5 * IQR_train)) | (df_train[numeric_columns_train] > (Q3_train + 1.5 * IQR_train)))

# Remove rows with any outliers from df_train
df_train_cleaned = df_train[~outliers_train.any(axis=1)]

# Calculate IQR for numeric columns in df_test (similarly)
numeric_columns_test = df_test.select_dtypes(include=[np.number]).columns
Q1_test = df_test[numeric_columns_test].quantile(0.25)
Q3_test = df_test[numeric_columns_test].quantile(0.75)
IQR_test = Q3_test - Q1_test
outliers_test = ((df_test[numeric_columns_test] < (Q1_test - 1.5 * IQR_test)) | (df_test[numeric_columns_test] > (Q3_test + 1.5 * IQR_test)))

# Remove rows with any outliers from df_test
df_test_cleaned = df_test[~outliers_test.any(axis=1)]

# Check the shape of the cleaned data
print(f"Original train shape: {df_train.shape}, Cleaned train shape: {df_train_cleaned.shape}")
print(f"Original test shape: {df_test.shape}, Cleaned test shape: {df_test_cleaned.shape}")

Original train shape: (101180, 25), Cleaned train shape: (39025, 25)
Original test shape: (19913, 23), Cleaned test shape: (11878, 23)

#### **We can see that outliers exists in the numeric columns.**

### **Handling Outliers**

In [43]:
import numpy as np
import pandas as pd

# Load the datasets
df_train = pd.read_csv(r'C:\Users\adity\price-comparison-project\Dataset.txt', sep='\t')
df_test = pd.read_csv(r'C:\Users\adity\price-comparison-project\Dataset_test.txt', sep='\t')

# Step 1: Identify numeric columns in both datasets
numeric_columns_train = df_train.select_dtypes(include=[np.number]).columns
numeric_columns_test = df_test.select_dtypes(include=[np.number]).columns

# Step 2: Align the columns (keep only those columns that are common in both datasets)
common_columns = list(set(numeric_columns_train) & set(numeric_columns_test))

# If no common columns exist, handle the case (e.g., raise an exception)
if not common_columns:
    raise ValueError("No common numeric columns found between the training and test datasets.")

# Step 3: Calculate Q1 (25th percentile) and Q3 (75th percentile) for each numeric column in df_train
Q1 = df_train[common_columns].quantile(0.25)
Q3 = df_train[common_columns].quantile(0.75)

# Step 4: Calculate IQR (Interquartile Range)
IQR = Q3 - Q1

# Step 5: Identify outliers in df_train and df_test (apply outlier detection to common numeric columns)
outliers_train = ((df_train[common_columns] < (Q1 - 1.5 * IQR)) | (df_train[common_columns] > (Q3 + 1.5 * IQR)))
outliers_test = ((df_test[common_columns] < (Q1 - 1.5 * IQR)) | (df_test[common_columns] > (Q3 + 1.5 * IQR)))

# Step 6: Remove outliers (optional, you can choose to replace them as well)
df_train_clean = df_train[~outliers_train.any(axis=1)]  # Removing rows with any outlier
df_test_clean = df_test[~outliers_test.any(axis=1)]      # Removing rows with any outlier

# Step 7: Save the cleaned datasets (if required)
df_train_clean.to_csv('cleaned_train_dataset.txt', sep='\t', index=False)
df_test_clean.to_csv('cleaned_test_dataset.txt', sep='\t', index=False)

# Output the cleaned shape
print(f"Original Train Shape: {df_train.shape}, Cleaned Train Shape: {df_train_clean.shape}")
print(f"Original Test Shape: {df_test.shape}, Cleaned Test Shape: {df_test_clean.shape}")

Original Train Shape: (101180, 24), Cleaned Train Shape: (60544, 24)
Original Test Shape: (19913, 23), Cleaned Test Shape: (11878, 23)